<h1 class="title-logo animated pulse">Code Club</h1>
<h3 class="site-moto">The ultimate solution for your <br> everyday toy problems</h3>

<br>

<!-- animated flash below on form cont -->
<form ng-submit="register(newUser)" class="signup-form">
    <input type="text" class="name-signup-input animated fadeInLeft" ng-model="newUser.name" placeholder="name" required/>

    <input type="text" class="username-signup-input animated fadeInRight" ng-model="newUser.username" placeholder="username" required/>

    <input type="password" class="password-signup-input animated fadeInDown" ng-model="newUser.password" placeholder="password" required/>
    <button type="submit" class="signup-button animated fadeInUp">Sign Up</button>
</form>


<p class="have-an-account">
  Have an account? <a ui-sref="login">Login</a>
</p>

<!-- took out for in inputs -->



<!-- <br> <br> <br> <br> <br> <br> <br> -->
<!-- <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a> -->
