#sign-up-header {
  text-align: center;
  color: white;
  font-family: fantasy;
}


/*beginning of sign up form styling*/


/*body * {
  font-family: 'Montserrat' sans-serif;
}*/

.wrap {
  width: 450px;
  margin: 0 auto;
}

.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #d3ffcc;
  transition: all 0.5s;
  font-family: fantasy;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  color: purple;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: pink;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: red;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: blue;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}

.signup-button {
  background-color: #93E1D8;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-family: fantasy;
  font-size: 15px;

}

/*end of sign up form styling*/


.have-an-account {
  text-align: center;
  color: white;
  font-family: fantasy;
}

.have-an-account a {
  color: blue;
  text-decoration: none;
  font-family: fantasy;
}


@media screen and (max-width: 800px) {
.mat-div:after, .mat-div:before {
  width: 90%;
}
}
