
<h2 id="sign-up-header">SIGN UP</h2>
<!-- <form ng-submit="register(newUser)">
  Name: <input type="text" ng-model="newUser.name" required/>
  Username: <input type="text" ng-model="newUser.username" required/>
  Password: <input type="password" ng-model="newUser.password" required/>
  <button type="submit">Register</button>
</form> -->


<form ng-submit="register(newUser)">
<div class="wrap">
  <div class="mat-div">
    <label class="mat-label">Name</label>
    <input type="text" class="mat-input" id="first-name" ng-model="newUser.name" required/>
  </div>

    <div class="mat-div">
    <label class="mat-label">Username</label>
    <input type="text" class="mat-input" id="last-name" ng-model="newUser.username" required/>
  </div>

    <div class="mat-div">
    <label class="mat-label">Password</label>
    <input type="password" class="mat-input" id="password" ng-model="newUser.password" required/>
  </div>
    <button type="submit" class="signup-button">Submit</button>
</div>
</form>


<p class="have-an-account">
  Have an account? <a ui-sref="login">Login</a>
</p>

<!-- took out for in inputs -->
