.myprobsView {
  background: #f1f1f1;
  width: 100vw;
  height: 90%;
  margin-top: 90px;
}

.myprobsView h1 {
  text-align: center;
}


.create-prob-title {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}

.create-prob-definition {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}





.top-create-page-container {
  display: flex;
  justify-content: space-around;
}



.title-instruction-container {
  border: 2px black solid;
}

.difficulty-instruction-container {
  border: 2px blue solid;
}

.definition-instruction-container {
  border: 2px red solid;
}
.solution-instruction-container {
  border: 2px purple solid;
}







/*second section starts here*/

.myprobs-container {

}


.myprobs-higher-form {
  height: 500px;
}

.edit-problem-icon {
  font-size: 20px;
}

.edit-problem-icon:hover {
  cursor: pointer;
  color: black;
}

/*.asdf {
  display: none;
}*/

.form-edit-delete-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-title-edit {
  width: 75%;
  margin: auto;
  text-align: center;
}

.form-difficulty-edit {
  width: 30%;
  margin: 2px auto;
}

.form-definition-edit {
  width: 90%;
  margin: auto;
  text-align: center;
}

.form-solution-edit {
  width: 90%;
  margin: auto;
}

.form-savechange-edit {
  width: 90%;
  margin: auto;
  background: #556270;
  color: white;
}

.fa-trash {
  width: auto;
  margin: auto;
  font-size: 20px;
}
.fa-trash:hover {
  cursor: pointer;
  color: red;
}


/*.problem-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
  width: 80vw;
}*/
