.myprobsView {
  background: white;
  width: 100vw;
  height: 90%;
  margin-top: 90px;
}









.myprobs-container {

}


.myprobs-higher-form {
  height: 370px;
}

.edit-problem-icon {
  font-size: 20px;
}

.edit-problem-icon:hover {
  cursor: pointer;
}


/*.problem-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
  width: 80vw;
}*/
