<navbar></navbar>




<section class="myprobsView">
 MINE - THIS WILL BE WHERE YOU POST ONE
<form ng-submit="addProblem(problem)">

 <input type="input" ng-model="problem.title" placeholder="title">
 <select ng-model="problem.difficulty">
  <option value="beginner">Beginner</option>
  <option value="intermediate">Intermediate</option>
  <option value="advanced">Advanced</option>
 </select>
 <!-- <input type="input" ng-model="problem.difficulty" placeholder="difficulty"> -->
 <input type="input" ng-model="problem.definition" placeholder="definition">
 <input type="input" ng-model="problem.solution" placeholder="solution">
<button type="submit">Add new Problem</button>
</form>

<br> <br> <br> <br>
 <hr>
<br> <br> <br> <br> <br>
THIS DISPLAYS ALL OF YOUR PROBLEMS HERE
<h2 style="text-align: center;">My Problems</h2>

<div ng-repeat="val in problems">
    <p>Title: {{val.title}}</p>
    <p>Creator: ME</p>
    <!-- {{val.creator}} -->
<br>
Definition: {{val.definition}} <br>
Solution: {{val.solution}} <br>

    Difficulty: {{val.difficulty}} <br>
    <form ng-sumbit="editProblem(val)">
      <input type="input" ng-model="val.title" placeholder="title">
      <select ng-model="val.difficulty">
       <option value="beginner">Beginner</option>
       <option value="intermediate">Intermediate</option>
       <option value="advanced">Advanced</option>
      </select>
      <!-- <input type="input" ng-model="val.difficulty" placeholder="difficulty"> -->
      <input type="input" ng-model="val.definition" placeholder="definition">
      <input type="input" ng-model="val.solution" placeholder="solution">
      <button type="submit" ng-click="editProblem(val)">Edit Problem</button>
      <!-- <button type="submit">Edit Problem</button> -->
      <!-- <button type="button or sumbit" ng-click="editProblem(val)">Edit Problem</button> both work now -->

      <button ng-click="deleteProblem(val._id)">Delete Problem</button>
       </form>
    <br>
    <hr>
    <br>
</div>

</section>
