<navbar></navbar>




<section class="myprobsView">

<h1>Create a Problem</h1>

<section class="top-create-page-container">


<div class="problem-create-form">
 <form ng-submit="addProblem(problem)">
  <div>
    <input type="input" ng-model="problem.title" placeholder="title" class="create-prob-title">
    <select ng-model="problem.difficulty" class="create-prob-difficulty">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </div>
  <div>
    <!-- <input type="input" ng-model="problem.difficulty" placeholder="difficulty"> -->
    <textarea type="input" ng-model="problem.definition" placeholder="definition" rows="3" cols="25" class="create-prob-definition"></textarea>

    <textarea type="input" ng-model="problem.solution" ng-trim="false"
    class="create-prob-definition" placeholder="solution" rows="3" cols="25"></textarea>
    <button type="submit">Add new Problem</button>
  </div>
  </form>
</div>


<div class="quote-create-page-container">
  <div>

 <h1>Cat Facts: </h1>
 <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 </p>
</div>

</div>

</section>


<br><br>
  <hr>
  <hr>

  <!-- modal -->
  <div class="modal-cont" ng-if="modalOn">
      <div class="modal-back favorite-modal-back" ng-click="turnOff()">
      </div>
      <div class="modal-box animated fadeInDown">
        <i class="fa fa-times" aria-hidden="true" ng-click="turnOff()"></i>
        <h2 id="sol-title">Solution</h2>
        <br> <br>
        <div class="solution-in-box">
          <pre>{{problem.solution}}</pre>
        </div>

    <p class="cc-logo-on-card">
        @CODE CLUB
          </p>
      </div>
  </div>
  <!-- //modal -->

  <h1 style="text-align: center;">My Problems</h1>


  <section class="problem-card-container myprobs-container">

    <div ng-repeat="val in problems" class="problem-template-card myprobs-higher-form">
      <h2>{{val.title}}</h2>
      <h3>Creator: yours truly</h3>
      <h4>difficulty: {{val.difficulty}}</h4>
      <i class="fa fa-user heart-on-probs star-favorites" aria-hidden="true"></i>
      <div class="definition-in-card">
        Problem...
        <div>{{val.definition}}
        </div>
      </div>
      <button type="button" name="button" class="solution-button" ng-click = "openModal(val)">Solution</button>
<!-- <div class="animated bounceInDown asdf"> -->

      <form ng-sumbit="editProblem(val)" class="form-edit-delete-container">
        <i class="fa fa-pencil heart-on-probs edit-problem-icon" aria-hidden="true" ng-click="editProblem(val)"></i>
        <input type="input" ng-model="val.title" placeholder="title *required" class="form-title-edit">
        <select ng-model="val.difficulty" class="form-difficulty-edit">
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced">Advanced</option>
        </select>
        <textarea type="input" ng-model="val.definition" placeholder="definition" class="form-definition-edit"></textarea>
        <textarea type="input" ng-model="val.solution" placeholder="solution" class="form-solution-edit"></textarea>
        <button type="submit" ng-click="editProblem(val)" class="form-savechange-edit">Save Changes?</button>

        <!-- <button ng-click="deleteProblem(val._id)" style="background: red;">Delete Problem</button> -->
        <i class="fa fa-trash" aria-hidden="true" ng-click="deleteProblem(val._id)"></i>

      </form>
    <!-- </div> -->

      <!-- <button type="button or sumbit" ng-click="editProblem(val)">Edit Problem</button> both work now -->
<hr> <br> <br>
      <!-- <br>
      <hr>
      <br> -->
    </div>

  </section>






  <!-- view end -->
</section>
