@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(https://fonts.googleapis.com/css?family=Kreon);
* {
 /*font-size: 100%; kinda looks good with this*/
 font-family: Kreon;
}

body {
  background-color: #4ECDC4;
  margin: 0 auto;
}


/*#4ECDC4
#C7F464*/
.main-routes-container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 90px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  /*border: 3px solid blue;*/
  background-color: #4ECDC4;
  margin-bottom: 90px;
}

.main-routes-container li {
  list-style-type: none;
  margin: 20px;
  /*width: 20px;*/
}

.main-routes {
  color: white;
  text-decoration: none;
  font-family: Unica One;
  font-size: 2em;
}

.main-routes:hover {
  text-decoration: underline;
}

@media screen and (max-width: 615px) {
  .main-routes-container {
    display: block;
    position: relative;
    height: 180px;
    text-align: center;
    /*border-bottom: 2px black solid;*/
  }
  svg {
    display: none;
  }
}

@media screen and (max-width: 705px) {
  svg {
    display: none;
  }
}

}


/*5cf58b*/



.modal-tmpl {
  border: red dashed 2px;
  position: absolute;
  top: 20px;
  left: 20px;
}



/*modal styling*/
