@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(https://fonts.googleapis.com/css?family=Kreon);
* {
 /*font-size: 100%; kinda looks good with this*/
 font-family: Kreon;
}

body {
  background-color: #4ECDC4;
  margin: 0 auto;
}

pre {
  font-family: monospace;
}
/*MAYBE CANGE PRE TAGS TO CODE TAGS*/


/*#4ECDC4
#C7F464*/
.main-routes-container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 90px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  /*border: 3px solid blue;*/
  background-color: #4ECDC4;
  margin-bottom: 90px;
}

.logo-navbar-cc {
  margin-top: 10px;
  /*border: 2px white solid;*/
  /*border-radius: 20px;*/
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.logo-navbar-cc h1 a {
  text-decoration: none;
  color: black;
  font-family: Unica One;
}

.main-routes-container li {
  list-style-type: none;
  margin: 20px;
  /*width: 20px;*/
}

.main-routes {
  color: white;
  text-decoration: none;
  font-family: Unica One;
  font-size: 29px;
}

.main-routes:hover {
  text-decoration: underline;
}

@media screen and (max-width: 615px) {
  .main-routes-container {
    display: block;
    position: relative;
    height: 220px;
    text-align: center;
    /*border-bottom: 2px black solid;*/
  }
  svg {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .logo-navbar-cc {
    display: none;
  }
}

@media screen and (max-width: 755px) {
  .logo-navbar-cc {
    font-size: 23px;
  }
}
/*755 code club doesnt look right*/

@media screen and (max-width: 615px) {
  .logo-navbar-cc {
    margin: 10px;
    margin-top: 10px;
    border: 2px white solid;
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

}






/*5cf58b*/





/*.logo-navbar-cc {
  margin-top: 10px;
  border: 2px white solid;
  border-radius: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-navbar-cc h1 a {
  text-decoration: none;
  color: black;
}*/



.modal-tmpl {
  border: red dashed 2px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/*modal styling*/
