<navbar></navbar>

<section class="searchView">

  <input ng-model="problemFilter" class="inputSearchProblems" placeholder="Search anything">
  <input>
  <!-- one input could filter user and another could do title of problem to get it down to a t -->
  <br><br>

<div ng-repeat="val in problems | filter: problemFilter" class="problem-layout-template">

  <div class="top-template-problem">
    <p class="problem-title">Title: {{val.title}}</p>
    <p class="problem-creator">Creator: {{val.creator.username}}</p>
  </div>
<br>
Definition: {{val.definition}} <br>
Solution: {{val.solution}}

  <div class="problem-difficulty">
    difficulty: {{val.difficulty}}
  </div>

  <button ng-click="addFavProblem(val._id)">Like</button>

</div>

</section>
