.searchView {
  background: white;
  width: 100vw;
  height: 90%;
}

.inputSearchProblems {
  text-align: center;
  margin-left: 200px;
}

.problem-layout-template {
  text-align: center;
  border: 2px solid #5cf58b;
  border-radius: 7px;
  width: 60vw;
  height: 50vh;
  margin: auto;
  margin-bottom: 30px;
}

.top-template-problem {
  display: flex;
  justify-content: space-between;
}

.problem-title {
  margin-top: 5px;
  margin-left: 5px;
  /*font-family: fantasy;*/
}
.problem-creator {
  margin-top: 5px;
  margin-right: 10px;
  /*font-family: fantasy;*/
}

/*.problem-layout-template .problem-title {
  text-align: left;
}

.problem-layout-template .problem-difficulty {
  margin-bottom: 0px;
}*/

.problem-difficulty {
  /*position: absolute;
  bottom: 0;*/
}




@media screen and (max-width: 615px) {
  .problem-layout-template {
    width: 80vw;
  }
