<navbar></navbar>

<section class="searchView">

  <h1 style="text-align: center;">Search a Problem</h1>

  <div class="search-input-container">
    <input ng-model="searchFilter" class="input-for-searching-problems" placeholder="Search Anything">
    <br>

    <!--filter difficulty:--> <select class="search-select-box" ng-model="problemFilter">
      <option disabled selected value="">Select Difficulty</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </div>
  <!-- date-difficulty-user -->
   <!-- ng-options="difficulty for problemFilter.difficulty in problems" -->


  <div class="modal-cont" ng-if="modalOn">

      <div class="modal-back" ng-click="turnOff()">

      </div>

      <div class="modal-box animated fadeInDown">
        <!-- <button type="button" name="button" ng-click="turnOff()">Exit</button> -->

        <i class="fa fa-times" aria-hidden="true" ng-click="turnOff()"></i>
        <h2 id="sol-title">Solution</h2>

        <br> <br>
        <div class="solution-in-box">
          <pre>{{problem.solution}}</pre>
        </div>

          <p class="cc-logo-on-card">
            @CODE CLUB
          </p>


        <!-- created by: {{problem.creator.username}} <br>
        posted on: {{problem.created}} -->

<!-- date:"MM/dd/yyyy 'at' h:mma" -->
      </div>

  </div>


  <div class="problem-card-container favorites-container">

    <div ng-repeat="val in problems | filter: problemFilter | filter: searchFilter" class="problem-template-card">
      <h2>{{val.title}}</h2>
       <h3 class="hover-creator-bio">created by: {{val.creator.username}}
         <span class="dropdown-bio animated fadeIn"> <!-- MAKE THIS AN ARROW TO SHOW MORE -->
           <option>Name: {{val.creator.name}}</option>
           <!-- <option>{{val.creator.username}}</option> -->
           <option>Bio: {{val.creator.bio}}</option>
         </span>
       </h3>

      <h4>difficulty: {{val.difficulty}}</h4>
      <i class="fa fa-heart-o heart-on-probs" aria-hidden="true" ng-click="addFavProblem(val._id)"></i>
      <div class="definition-in-card">
        Problem...
        <div class="hover-creator-bio">{{val.definition}}
        </div>
      </div>

      <button type="button" name="button" class="solution-button" ng-click = "openModal(val)">Solution</button>


    </div>






      <!-- Solution: {{val.solution}} <br> -->
    </div>
    <!-- animated rubberBand -->
  </div>


  <p class="footer-create-a-prob-link">
    <a ui-sref="myprobs">Create</a> a problem!
  </p>

</section>
<!-- animated rubberBand on ng-repeat class -->


<!-- <button ng-click="addFavProblem(val._id)">Heart</button> <br> -->







<!--  comment w/ input earlier-one input could filter user and another could do title of problem to get it down to a t -->
