@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(https://fonts.googleapis.com/css?family=Kreon);

.title-logo {
  text-align: center;
  color: white;
  font-family: Unica One;
  font-size: 55px;
}

.site-moto {
  text-align: center;
  font-family: Kreon;
  color: white;
  word-spacing: 3px;
}

.login-form {
  margin: auto;
  /*margin-top: 50px;*/
  text-align: center;
  border: 2px white solid;
  width: 32vw;
  height: 220px;
  border-radius: 12px;
}

.username-input {
  width: 60%;
  display: block;
  margin: 20px auto;
}

.password-input {
  width: 60%;
  display: block;
  margin: auto;
}

.catch-phrase {
  text-align: center;
  color: white;
  font-family: Kreon;
  font-size: 20px;
  word-spacing: 3px;
}


@media screen and (max-width: 705px) {
  .login-form {
    width: 60vw;
    height: 220px;
  }
}

.login-redirect-signup {
  text-align: center;
  color: white;
  font-size: 1em;
}

.login-redirect-signup a {
  color: black;
}
