@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(https://fonts.googleapis.com/css?family=Kreon);

.title-logo {
  text-align: center;
  color: white;
  font-family: Unica One;
  font-size: 55px;
}

.site-moto {
  text-align: center;
  font-family: Kreon;
  color: white;
  word-spacing: 4px;
}

.login-form {
  margin: auto;
  /*margin-top: 50px;*/
  text-align: center;
  border: 2px white solid;
  width: 32vw;
  height: 260px;
  border-radius: 12px;
}

.username-input {
  width: 59%;
  display: block;
  margin: 27px auto;
  padding: 10px;
  font-size: 15px;
}

.password-input {
  width: 59%;
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 15px;
}

.login-button {
  background: #C44D58;
  outline: none;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 24px;
  margin: 10px;
  width: 66%;
}

.login-button:hover {
  background: #FF6B6B;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.login-button:hover {
  cursor: pointer;
}

.catch-phrase {
  text-align: center;
  color: white;
  font-family: Kreon;
  font-size: 20px;
  word-spacing: 3px;
}


@media screen and (max-width: 1150px) {
  .login-form {
    width: 40vw;
    height: 250px;
  }
}

@media screen and (max-width: 840px) {
  .login-form {
    width: 50vw;
    height: 250px;
  }
}

@media screen and (max-width: 705px) {
  .login-form {
    width: 60vw;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .login-form {
    width: 80vw;
    height: 250px;
  }
}

.login-redirect-signup {
  text-align: center;
  color: white;
  font-size: 18px;
}

.login-redirect-signup a {
  color: black;
  text-decoration: none;
}
