<h1 class="title-logo">Code Club</h1>
<h3 class="site-moto">The ultimate solution for your <br> everyday toy problems</h3>

<br>

<form class="login-form" ng-submit="login(user)">
Username: <input ng-model="user.username" type="text" class="username-input" placeholder="username" required/>
Password: <input ng-model="user.password" type="password" class="password-input" placeholder="password" required/>
<button type="submit">Login</button>
</form>

<p class="login-redirect-signup">Don't have an account? <a ui-sref="signup">Sign Up</a></p>

<p class="catch-phrase">
  Share powerful code snippets <br> that do incredible things
</p>
