.favView {
  background: #f1f1f1;
  width: 100vw;
  height: 100%;
  margin-top: 90px;
}

.favView h1 {
  text-align: center;
  /*margin-left: 22%;*/
}

/*container*/
.favorite-container {
  width: 60vw;
  /*margin: 0px;*/
}


.container-fav-both {
  display: flex;
  justify-content: space-between;
}

/*display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: auto;
margin-top: 40px;
width: 80vw;*/
.favorite-modal-back {
  padding-bottom: 100px;
}

.star-favorites:hover {
  color: black;
  cursor: default;
}


.quotes-section {
  /*border: 2px red dashed;*/
  width: 40vw;
  padding: 10px;
}

.quotes-section div {
  text-align: center;
}

/*.quotes-section div h2 {
  font-size: 25px;
}

.quotes-section div p {
  font-size: 15px;
}*/

.line-up-filler {
  border: #838383 2px solid;
  width: 0px;
  height: 200px;
  display: inline-block;
  margin: 40px;
}

@media screen and (max-width: 615px) {
 .quotes-section {
   display: none;

}
}

@media screen and (max-width: 615px) {
.favorite-container {
  width: 80vw;
  /*margin: auto;*/
  }

  /*@media screen and (max-width: 670px) {
  .favorite-container {
      margin-top: 10px;
    }*/
  /*768*/

  /*@media screen and (min-width: 768px) {
  .favView h1 {
    text-align: center;
    }*/



  /*on 769 width Ill still have cat quotes*/
  /*then lower than that theyll have display none*/
