<navbar></navbar>

<section class="favView">
  <h2>My favorite Problems</h2>


{{favorites}}

<!-- <div ng-repeat="info in favorites">
  {{info.title}}
</div> -->

  <!-- <div ng-repeat="liked in problems | filter: problemFilter" class="problem-layout-template">

    <div class="top-template-problem">
      <p class="problem-title">Title: {{liked.title}}</p>
      <p class="problem-creator">Creator: {{liked.creator.username}}</p>
    </div>
  <br>
  Definition: {{liked.definition}} <br>
  Solution: {{liked.solution}}

    <div class="problem-difficulty">
      difficulty: {{liked.difficulty}}
    </div> -->





</section>
