<navbar></navbar>

<section class="favView">
  <h1>My favorite Problems</h1>


<!-- {{favorites}} -->

<!-- modal -->

<div class="modal-cont" ng-if="modalOn">

    <div class="modal-back favorite-modal-back" ng-click="turnOff()">

    </div>

    <div class="modal-box animated fadeInDown">
      <!-- <button type="button" name="button" ng-click="turnOff()">Exit</button> -->

      <i class="fa fa-times" aria-hidden="true" ng-click="turnOff()"></i>
      <h2 id="sol-title">Solution</h2>

      <br> <br>
      <div class="solution-in-box">
        <pre>{{problem.solution}}</pre>
      </div>


        <p class="cc-logo-on-card">
          @CODE CLUB
      </p>

    </div>

</div>

<!-- /modal -->

<section class="container-fav-both">


<section class="problem-card-container favorite-container">


<div ng-repeat="info in favorites" class="problem-template-card">
  <h2>{{info.title}}</h2>
  <h3>created by: {{info.creator.username}}</h3>
  <h4>difficulty: {{info.difficulty}}</h4>
  <i class="fa fa-star heart-on-probs star-favorites" aria-hidden="true"></i>
  <div class="definition-in-card">
    Problem...
    <div>{{info.definition}}
    </div>
  </div>
  <button type="button" name="button" class="solution-button" ng-click="openModal(info)">Solution</button>
</div>



</section>

<section class="quotes-section">
  <div>
    <h2>Cat Facts: </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <div class="line-up-filler"></div>
      <div class="line-up-filler"></div>
      <div class="line-up-filler"></div>
      <div class="line-up-filler"></div>
      <div class="line-up-filler"></div>

    </p>
  </div>
</section>


</section>


<!-- CAT QUOTES -->














</section>
