<navbar></navbar>

<section class="accountView">


<h2>Account Information</h2>

Name: {{user.name}} <br>
Username: {{user.username}} <br>
Bio: {{user.bio}}


<br> <br> <br>

<form ng-submit="updateUserInfo(userObj)" class="account-form">

<input ng-model="userObj.name" placeholder="name" class="account-info">
<input ng-model="userObj.username" placeholder="username" class="account-info">
<textarea ng-model="userObj.bio" placeholder="bio" class="account-info-bio">
<button type="submit">Update info</button>

</form>


<!-- <br> <br> <br> <br> <br> Update Password

<form ng-submit="updateUserInfo(userObj)">
  <input ng-model="userObj.password" placeholder="password">
  <button type="submit"></button>
</form> -->
</section>
