<navbar></navbar>

<section class="accountView">


<h2>Account Information</h2>

<p>
  Name: {{user.name}}
</p>
<p>
  Username: {{user.username}}
</p>
<p>
  Bio: {{user.bio}}
</p>

<br>

<h2>Edit information</h2>


<form ng-submit="updateUserInfo(userObj)" class="account-form">

<input ng-model="userObj.name" placeholder="name" class="account-info">
<input ng-model="userObj.username" placeholder="username" class="account-info">
<input ng-model="userObj.bio" placeholder="bio" class="account-info account-info-bio">
<button type="submit">Update info</button>

</form>


<!-- <br> <br> <br> <br> <br> Update Password

<form ng-submit="updateUserInfo(userObj)">
  <input ng-model="userObj.password" placeholder="password">
  <button type="submit"></button>
</form> -->

<br> <br> <br>


<div class="logout-button">
  <button ng-click="logoutUser()" class="logoutUser">Log out</button>
</div>

</section>
